[submodule "LimeSuite"]
	path = third_party/LimeSuite
	url = https://github.com/alexandreGellibert/LimeSuite_ForAndroid.git
	branch = main
[submodule "SoapyRTLSDR"]
	path = third_party/SoapyRTLSDR
	url = https://github.com/alexandreGellibert/SoapyRTLSDR_ForAndroid.git
	branch = main
[submodule "SoapySDR"]
	path = third_party/SoapySDR
	url = https://github.com/alexandreGellibert/SoapySDR_ForAndroid.git
	branch = main
[submodule "third_party/libairspy"]
	path = third_party/libairspy
	url = https://github.com/alexandreGellibert/airspyone_host_ForAndroid.git
[submodule "third_party/SoapyAirspy"]
	path = third_party/SoapyAirspy
	url = https://github.com/alexandreGellibert/SoapyAirspy_ForAndroid.git
[submodule "third_party/libusb"]
	path = third_party/libusb
	url = https://github.com/alexandreGellibert/libusb_CMakeListForAndroid.git
[submodule "third_party/rtl-sdr"]
	path = third_party/rtl-sdr
	url = https://github.com/alexandreGellibert/rtl-sdr_ForAndroid.git
[submodule "third_party/SoapyAirspyHF"]
	path = third_party/SoapyAirspyHF
	url = https://github.com/alexandreGellibert/SoapyAirspyHF-ForAndroid.git
[submodule "third_party/airspyhf"]
	path = third_party/airspyhf
	url = https://github.com/alexandreGellibert/airspyhf-ForAndroid.git
