[submodule "LimeSuite"]
	path = third_party/Lime
    url = https://github.com/alexandreGellibert/LimeSuite_ForAndroid.git
    branch = main

[submodule "SoapyRTLSDR"]
    path = third_party/SoapyRTLSDR
    url = https://github.com/alexandreGellibert/SoapyRTLSDR_ForAndroid.git
    branch = main

[submodule "SoapySDR"]
    path = third_party/SoapySDR
    url = https://github.com/alexandreGellibert/SoapySDR_ForAndroid.git
    branch = main
